@import '../styles/variables.scss';
@import '../styles/mixin.scss';
.wrapper {
  padding: 16px;
  background-color: rgba(229, 229, 229, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    padding: 12px 8px;
  }
  @include tablet {
    
  }
  @include desktop {
    
  }
  .image {
    width: 209px;
    height: 293px;
    @include mobile {
      width: 134px;
      height: 187px;
    }
  }
  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
      padding: 10px;
    }
    .previewUrl {
      font-family: $pattern-name-font;
      font-size: 22px;
      line-height: 28px;
      padding: 6px 16px;
      border-radius: 10px;
      background-color: #C4C4C4;
      cursor: pointer;
      @include mobile {
        padding: 2px 8px;
        font-size: 15px;
      }
    }
    div {
      font-size: 22px;
      line-height: 25px;
      margin-top: 14px;
      color: $title-color;
      font-family: $text-font;
      max-width: 222px;
      text-align: center;
      font-weight: 300;
      @include mobile {
        font-size: 20px;
      }
    }
  }
}