@import '../styles/variables.scss';
.section {
  width: 100%;
  max-width: 1110px;
  height: 92px;
  background-image: url('https://cheryx.com/images/title-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin: auto;
  header {
    position: absolute;
    bottom: 0;
    @media (max-width: $mobile-breakpoint) {
      font-size: 20px;
    }
    font-family: "Big Shoulders Text";
    color: white;
    font-size: 28px;
    font-weight: 500;
  }
  @media (max-width: $mobile-breakpoint) {
    background-image: url('https://cheryx.com/images/title-bg-mb.png');
    background-size: cover;
    height: 57px;
    width: 100%;
  }
}