@import '../styles/variables.scss';
@import '../styles/mixin.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    &.isBottom {
        width: 234px !important;
        flex: none;
        @media (max-width: $mobile-breakpoint) {
            width: 100% !important;
        }
        .discount {
            width: 60px;
            height: 60px;
            right: unset;
            left: 170px;
            top: 3px;
            font-size: 20px;
        }
    }

    .image {
        @media (max-width: $mobile-breakpoint) {
            width: 45vw;
            min-width: 45vw;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .discount {
        position: absolute;
        width: 100px;
        height: 100px;
        font-size: 30px;
        background-color: #d03333;
        border-radius: 50%;
        right: 10px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: "Fredericka the Great";
        @include mobile {
            width: 40px !important;
            height: 40px !important;
            right: unset !important;
            left: 33vw !important;
            top: 3px !important;
            font-size: 15px !important;
        }
    }

    .freeTag {
        width: 231px;
        height: 63px;
        background-image: url('https://cheryx.com/images/free.webp');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        right: 0px;
        top: 19px;
        z-index: 12;

        &.isBottom {
            width: 102.5px;
            height: 31.5px;
            background-size: contain;
            right: -26px;

            @media (max-width: $mobile-breakpoint) {
                width: 73.5px;
            }
        }

        @media (max-width: $mobile-breakpoint) {
            width: 77px;
            height: 21px;
            left: 31vw;
            right: unset;
            top: 10px;
        }
    }

    .editMenu {
        display: none;

        .isFree {
            cursor: pointer;
            margin-top: 6px;
            width: 70px;

            input {
                width: 20px;
            }
        }
    }

    .button {
        width: 60px;
        height: 30px;
        margin: 0px 3px;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;

        &:hover {
            background-color: gray;
            color: white;
        }
    }

    &:hover {
        .editMenu {
            display: flex !important;
            position: absolute;
            z-index: 10;
            top: 0px;
            right: 0px;
        }
    }

    .img {
        @media (max-width: $mobile-breakpoint) {
            width: 170px;
            height: 120px;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .description {
        outline: none;
        margin-top: 10px;
        font-size: 25px;
        line-height: 29px;
        color: #565555;

        @media (max-width: $mobile-breakpoint) {
            font-size: 17px;
            line-height: 21px;
        }
    }

    .name {
        font-family: "Fredericka the Great";
        font-size: 65px;
        line-height: 79px;

        @media (max-width: $mobile-breakpoint) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .mobileContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 9px;

        @include mobile {
            padding-left: 20px;
            justify-content: center;
        }
    }

    input {
        padding: 5px;
        margin-bottom: 5px;
        outline: none;
    }

    .patternUpload {
        display: flex;
        align-items: center;

        .label {
            white-space: nowrap;
            margin-right: 5px;
        }
    }

    @media (max-width: $mobile-breakpoint) {
        display: flex;
        flex-direction: row;
        // border-bottom: 0.5px solid rgba(86, 85, 85, 0.3);
        padding-bottom: 12px;
        padding-top: 12px;
    }
}