@import '../styles/variables.scss';
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .line {
    flex: 1;
    height: 4px;
    background-color: #F08C5F;
  }
  .text {
    font-size: 20px;
    line-height: 34.71px;
    height: 45px;
    color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F08C5F;
    font-family: 'Big Shoulders Text';
    padding: 0px 36px;
    margin: 0px 19px;
    @media (max-width: $mobile-breakpoint) {
      font-size: 18px;
      line-height: 21.55px;
      font-weight: 700;
      padding: 16px;
      margin: 0 10px;
      height: 23px;
      border-radius: 8px;
    }
  }
}