@import '../styles/variables.scss';
@import '../styles/mixin.scss';
.images {
    margin-top: 53px;
    width: 100%;
    max-width: 1025px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 31px;
    img {
      width: 25%;
    }
    @media (max-width: $mobile-breakpoint) {
      margin-top: 15px;
      padding-bottom: 0px;
      width: 100%;
    }
}