@import '../styles/variables.scss';
@import '../styles/mixin.scss';
.images {
    margin-top: 53px;
    width: 100%;
    max-width: 1025px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 31px;
    img {
      width: 25%;
    }
    @media (max-width: $mobile-breakpoint) {
      margin-top: 15px;
      padding-bottom: 0px;
      width: 100%;
    }
    div {
        background-repeat: no-repeat !important;
        background-size: contain !important;
        width: 218px;
        height: 218px;
        @media (max-width: $mobile-breakpoint) {
          width: 126px;
          height: 126px;
        }
    }
}